<!DOCTYPE html>
<html lang="en" data-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/static/style.css">

    <script src="/static/helpers.js"></script>
    <script src="/static/layout.js"></script>
</head>
<body>
    <div class="page">
        <header>
            <div class="sub-box">

            </div>
        </header>

        <div class="layout">
            <aside>
                <div class="sub-box">

                </div>
            </aside>

            <div class="slider">
                <div class="visual"></div>
            </div>

            <main>
                <div class="sub-box">

                    <div class="week">
                        <div class="week-day mon"></div>
                        <div class="week-day tue"></div>
                        <div class="week-day wed"></div>
                        <div class="week-day thu"></div>
                        <div class="week-day fri"></div>
                        <div class="week-day sat"></div>
                        <div class="week-day sun"></div>
                    </div>
                    
                </div>
            </main>
        </div>
    </div>
</body>
</html>